:root {
  --black: #172339;
  --gray: #49566d;
  --whitish: #f3ede7;
  --white: #faf8f6;
  --primary: #a060ff;
  --secondary: #cb30e3;
  --tercary: #ffa84e;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Epilogue", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2em 1em;
}

.title {
  font-size: 46px;
  font-weight: 400;
}

.solution::before {
  content: url("./assets/pattern-curved-line-1.svg");
}

.btn {
  background-color: transparent;
  padding: 1em 2em;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.empty:hover {
  background-color: var(--black);
  color: var(--white);
}

.full {
  background-color: var(--black);
  color: var(--white);
  font-size: 18px;
  border: none;
}

.full:hover {
  background-color: none;
  background: rgb(160, 96, 255);
  background: linear-gradient(
    138deg,
    rgba(160, 96, 255, 1) 0%,
    rgba(203, 48, 227, 1) 50%,
    rgba(255, 168, 78, 1) 100%
  );
}

.intro {
  max-width: 1200px;
  margin: 0 auto;
}

.hero {
  margin: 2em 1em;
}

.container {
  margin: 4em 0;
}

.container p {
  line-height: 1.65;
  font-size: 21px;
  margin: 1.5em 0;
}

.hero-img {
  display: block;
  margin: 3em auto;
  width: 100%;
}

.stats span {
  font-size: 30px;
  font-weight: bold;
}

.stats {
  text-align: center;
  margin-bottom: 2rem;
}

.stats p {
  text-transform: uppercase;
  letter-spacing: 2px;
}

section {
  background-color: var(--black);
  color: var(--whitish);
  text-align: center;
  margin-top: 14em;
  border-radius: 10px;
  z-index: 1;
}

.wrapper__block {
  margin-top: 2em;
}

.wrapper__block h2 {
  font-size: 42px;
  font-weight: 400;
}

.wrapper__block h3 {
  font-size: 25px;
  text-transform: uppercase;
}

.wrapper__block h4 {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.bold {
  font-weight: bold;
}

.wrapper__block p {
  line-height: 1.85;
  margin-bottom: 3rem;
}

.wrapper__block h2::before {
  content: url(./assets/pattern-curved-line-2.svg);
  display: block;
  margin: 1em 0;
}

footer {
  background-color: var(--whitish);
  padding: 2em 0;
}

footer > * {
  margin-bottom: 2rem;
  cursor: pointer;
}

.footer-container {
  text-align: center;
}

.social-media > * {
  margin-left: 1rem;
}

@media screen and (min-width: 550px) {
  .hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .stats-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    text-align: left;
  }

  .article {
    margin: 0 1em;
  }

  .footer-container {
    margin: 0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media screen and (min-width: 850px) {
  header,
  .footer-container {
    margin-inline: auto;
    max-width: 1200px;
  }

  .intro {
    display: flex;
    align-items: center;
  }

  .stats-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 400px;
    flex-basis: 30%;
  }

  .article {
    max-width: 1200px;
    margin: 5em auto 0 auto;
    display: flex;
  }
}
